html {
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond";
  background-image: url('assets/leaves.png');
  height: 100%;
}

#searchbar {
    margin-left: 31%;
    margin-top: 35px;
}

.wiki-button {
    background-color: #b0c4de61;
    height: 35px;
    border-radius: 4px;
    font-size: large;
    font-family: initial;
}

:focus {
    outline-width: medium;
    outline-color: darkseagreen;
    outline-style: dotted;
}

.wiki-input {
    height: 30px;
    width: 50%;
    background-color: #f7f96b59;
    box-shadow: 2px 2px ghostwhite;
    border-style: unset;
    font-size: x-large;
    font-family: monospace;
}

#container {
    width: 100%;
    height: 100%;
}

.App {
height: 100%;
}


#top {
    height: 100%;
}

#root {
    height: 100%;
}

.notice {
    font-size: xx-large;
    position: absolute;
    top: 25%;
    right: 18%;
}

#spinner {
    top: 25%;
    right: 50%;
}

#title {
    margin: 0 auto;
    width: fit-content;    
}
